/** Reset CSS **/
a,p,h1,h2,h3,h4,div
{
	margin: 0px;
	padding: 0px;
	text-decoration: none;
	font-family: brown, verdana, sans-serif;

}

body
{
	background-color: #F1F1F1;
}

div.container
{
	width: 80%;
	height: auto;
	min-height: 36px;
	margin: auto;
	background-color: white;
}

.container.set-height
{
	height: 520px;
}

div.active-iframe
{
	width: 75%;
	height: 100%;
	display: inline-block;
	float: left;
}

div.active-iframe iframe
{
	width: 100%;
	height: 520px;
}

div.playlist
{
	width: 25%;
	height: 100%;
	display: inline-block;
	float: right;
}

div.song
{
	width: 100%;
	height: 20%;
	text-align: center;
	overflow: hidden;
	position: relative;
	cursor: pointer;
}

div.song:hover p.song-name
{
	color: blue;
}

div.song.active p.song-name
{
	color: blue;
}

div.song.active:hover p.song-name
{
	color: black;
}

div.song p.song-name
{
	margin: 0px;
	font-weight: bold;
	text-transform: capitalize;
	font-size: 12px;
}

div.song p.yt-plays
{
	position: absolute;
	left: 10px;
	bottom: 10px;
	font-size: 12px;
}

div.song img
{
	width: 30%;
	height: auto;
	position: absolute;
	right: 0px;
	bottom: 10px;
}

div.song div.border
{
	position: absolute;
	bottom: 0px;
	width: 100%;
	border-top: 1px solid gray;
}

div.title
{
	width: 100%;
	height: 100%;
}

.artist-name
{
	float: left;
	width: 75%;
	display: inline-block;
}

.playlist-title
{
	float:right;
	width: 25%;
	display: inline-block;
}

div#pwnage
{
	display: none;
	position: absolute;
	top: 0px;
	width: 100%;
}

div#pwnage.blocked
{
	display: block;
}

div#pwnage.not_blocked
{
	display: none;
}

